<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 minutes" packagingData="true">

	<!-- Appenders -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	   <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        
	   <target>System.out</target>
		<encoder>
			<pattern>%d{MM/dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

    <!-- 	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	   <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        
	   <target>System.out</target>
		<encoder>
			<pattern>%d{MM/dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	-->

	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
	   <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
		<target>System.err</target>
		<encoder>
			<pattern>%d{MM/dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com" level="DEBUG">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com" level="ERROR ">
		<appender-ref ref="STDERR" />
	</logger>

	<!--  root level="INFO"> <appender-ref ref="STDOUT" /> </root> -->
</configuration>
